body {

}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 770px;
    height: 290px;
    background-color: yellow;
    margin: auto;
}

.container {
    width: 250px;
    height: 250px;
    background-color: #8cc2a2;
    border: 1px solid black;
    margin: auto;
}

.question {
    width: 230px;
    height: 50px;
    margin-top: 20px;
    background-color: #ebe8ce;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

input::placeholder {font-size: 14px;}
input:focus::-webkit-input-placeholder { color:transparent; }

.answer {
    width: 230px;
    height: 50px;
    margin-top: 100px;
    margin-left: 10px;
    background-color: #ebe8ce;
    border: 1px solid black;
    border-radius: 10px;
    /* text-align: center; */
    font-size: 20px;
}

.answer #result {
    width: 150px;
 }


/* секция с toogle */

.toogle {
    width: 200px;
    height: 100px;
    margin: 75px auto;
    border: 1px solid black;
    border-radius: 20px;
    background-color: gold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 54px;
    margin-left: 2px;
    margin-right: 2px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 46px;
    width: 46px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #2196F3;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(46px);
    -ms-transform: translateX(46px);
    transform: translateX(46px);
}
  
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}



/* секция с выбором и кнопкой */

.choice {
    width: 100px;
    height: 25px;
    background-color: #ebe8ce;
    border: 1px solid black;
    border-radius: 10px;
    margin: 33px auto;
    text-align: center;
    font-size: 20px;
}

select {
    width: 100%;
    height: 100%;
    background-color: #ebe8ce;
    border: 1px solid black;
    border-radius: 10px;
}

.accept {
    width: 230px;
    height: 50px;
    margin-top: 110px;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 20px;
    background-color: green;
}

